.tags__container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.tags__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 2rem;
}
.tags__form-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.tags__form-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
.tags__button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .tags__container {
    flex-direction: column;
  }
  .tags__input {
    width: 100%;
  }
}
